<!DOCTYPE html>
<html>

<head>
	<title>Lucky Tip</title>
</head>

<body>
	<h1 style="color:blue;">
		Lucky Tip - MEGASENA</h1>
	<form action="/" method="post" name="luckytip">
		<p>
			Valor da aposta (min R$5)&nbsp;</p>
		<p>
			<input name="valor" type="number" value="5" /><input name="send" type="submit" value="Gerar" />
		</p>
	</form>
	<table border="0" cellpadding="1" cellspacing="1" style="width: 500px">
		<tbody>
			<tr>
				<td>
					Valor</td>
				<td>
					{{.Value}}</td>
			</tr>
			<tr>
				<td>
					Apostas</td>
				<td>
					{{range .Bets}} {{.}} <br> {{end}}</td>
			</tr>
			<tr>
				<td>
					Troco</td>
				<td>
					{{.Change}}</td>
			</tr>
		</tbody>
	</table>

	<a href="/bar.html"> Ver histograma</a>
	<div>
		<strong>T&eacute;cnica empregada</strong>
	</div>
	<div>
		<p>Com base na frequência ponderada de sorteio dos número no histórico de jogos da mega sena, ponderado por tempo, ou seja os jogos mais recentes tem peso maior, é gerado um conjunto de jogos por análise combinatória e exclusão de conjuntos contidos, para evitar apostas contidas em outras apostas. </p>
		<p>É gerado então os jogos, considerando as regras da loteria e o valor apostado, bem como é gerado o valor do troco. </p>
		<p>Todos os dados dos jogos ocorridos e das regras da mega sena são atualizados diariamente do site e da API da Caixa Econômica Federal.</p>
		<p>Boa sorte! e Bom Jogo!</p>
</div>
</body>

</html>